name: CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  test:
    name: Build & Test
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Install uv
        uses: astral-sh/setup-uv@v5
        with:
          enable-cache: true
          version: "latest"

      - name: Set up Python
        run: uv python install

      - name: Install Dependencies
        run: uv sync --locked

      - name: Lint with ruff (Optional)
        run: uv run ruff check .
        continue-on-error: true

      - name: Run Tests
        # Ensure you have a 'tests' folder with a conftest.py or similar
        run: uv run pytest
